pipeline/activityEvents.json
{
	"name": "activityEvents",
	"properties": {
		"description": "Calls the Get Activity Events REST admin API for yesterday's activities\n\nParameters:\nStorageAccountContainer - Name of the storage container for files to be saved to (should be identical throughout pipelines\n\nStorageAccountFolder - Folder/folder structure within container where files will be saved (should be identical throughout pipelines)\n\nTopic - Prefix for filenames, should match pipeline name\n",
		"activities": [
			{
				"name": "setTimestamp",
				"description": "Set the requestId to be the date.now()",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TimeStamp",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "setUnixTime",
				"description": "Set the requestId to be the date.now()",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "setTimestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "UnixTimeStamp",
					"value": {
						"value": "@{div(sub(ticks(variables('timestamp')), ticks('1970-01-01')),10000000)}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Call load notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy ActivtyEvents",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/kendale@carloconsultants.com/powerbi-monitor-databricks/topics/activityEvents/020_load",
					"baseParameters": {
						"date": {
							"value": "@formatDateTime(variables('TimeStamp'),'yyyy/MM/dd')",
							"type": "Expression"
						},
						"timestamp": {
							"value": "@variables('UnixTimeStamp')",
							"type": "Expression"
						},
						"topic": {
							"value": "@pipeline().parameters.Topic",
							"type": "Expression"
						},
						"activityDate": {
							"value": "@variables('DateToExtract')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy ActivtyEvents",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "processedTimeStamp",
								"value": {
									"value": "@variables('UnixTimeStamp')",
									"type": "Expression"
								}
							},
							{
								"name": "activityDate",
								"value": {
									"value": "@variables('DateToExtract')",
									"type": "Expression"
								}
							},
							{
								"name": "processedDate",
								"value": {
									"value": "@formatDateTime(variables('TimeStamp'), 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"AbsoluteUrl": "$.continuationUri"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false
				}
			},
			{
				"name": "Set date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "setUnixTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DateToExtract",
					"value": {
						"value": "@{formatDateTime(getPastTime(1, 'Day'), 'yyyy-MM-dd')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Call model notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Call load notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/kendale@carloconsultants.com/powerbi-monitor-databricks/topics/activityEvents/022_model"
				}
			}
		],
		"parameters": {
			"StorageAccountContainer": {
				"type": "string",
				"defaultValue": "data-warehouse"
			},
			"StorageAccountFolder": {
				"type": "string",
				"defaultValue": "apiData/raw"
			},
			"Topic": {
				"type": "string",
				"defaultValue": "activityEvents"
			}
		},
		"variables": {
			"TimeStamp": {
				"type": "String"
			},
			"UnixTimeStamp": {
				"type": "String"
			},
			"DateToExtract": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Power BI monitor"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-27T14:40:50Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}