pipeline/PBIPipelines.json
{
	"name": "PBIPipelines",
	"properties": {
		"description": "Calls the Get Pipelines and Get Pipeline Users REST admin APIs.\n\nParameters:\nStorageAccountContainer - Name of the storage container for files to be saved to (should be identical throughout pipelines\n\nStorageAccountFolder - Folder/folder structure within container where files will be saved (should be identical throughout pipelines)\n\nTopic - Prefix for filenames, should match pipeline name",
		"activities": [
			{
				"name": "setTimestamp",
				"description": "Set the requestId to be the date.now()",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TimeStamp",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "setUnixTime",
				"description": "Set the requestId to be the date.now()",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "setTimestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "UnixTimeStamp",
					"value": {
						"value": "@{div(sub(ticks(variables('timestamp')), ticks('1970-01-01')),10000000)}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy Pipelines",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "setUnixTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "processedTimeStamp",
								"value": {
									"value": "@variables('UnixTimeStamp')",
									"type": "Expression"
								}
							},
							{
								"name": "processedDate",
								"value": {
									"value": "@formatDateTime(variables('TimeStamp'), 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "API_PowerBI_Data",
						"type": "DatasetReference",
						"parameters": {
							"AdminAPI": "pipelines?$expand=stages,users"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "JSON_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"FileSystem": {
								"value": "@pipeline().parameters.StorageAccountContainer",
								"type": "Expression"
							},
							"Folder": {
								"value": "@concat(pipeline().parameters.StorageAccountFolder, '/', pipeline().parameters.Topic, '_getPipelines')",
								"type": "Expression"
							},
							"FileName": {
								"value": "@concat(variables('UnixTimeStamp'),'/pipelines.json')",
								"type": "Expression"
							},
							"TimeStamp": {
								"value": "@variables('TimeStamp')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Call load notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy Pipelines",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/kendale@carloconsultants.com/powerbi-monitor-databricks/topics/PBIPipelines/020_load",
					"baseParameters": {
						"date": {
							"value": "@formatDateTime(variables('TimeStamp'),'yyyy/MM/dd')",
							"type": "Expression"
						},
						"timestamp": {
							"value": "@variables('UnixTimeStamp')",
							"type": "Expression"
						},
						"topic": {
							"value": "@pipeline().parameters.Topic",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Execute PBIPipelines_users",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Call load notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PBIPipelines_users",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"StorageAccountContainer": {
							"value": "@pipeline().parameters.StorageAccountContainer",
							"type": "Expression"
						},
						"StorageAccountFolder": {
							"value": "@pipeline().parameters.StorageAccountFolder",
							"type": "Expression"
						},
						"TimeStamp": {
							"value": "@variables('TimeStamp')",
							"type": "Expression"
						},
						"UnixTimeStamp": {
							"value": "@variables('UnixTimeStamp')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Call model notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Execute PBIPipelines_users",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/kendale@carloconsultants.com/powerbi-monitor-databricks/topics/PBIPipelines/022_model"
				},
				"linkedServiceName": {
					"referenceName": "Databricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"StorageAccountContainer": {
				"type": "string",
				"defaultValue": "data-warehouse"
			},
			"StorageAccountFolder": {
				"type": "string",
				"defaultValue": "apiData/raw"
			},
			"Topic": {
				"type": "string",
				"defaultValue": "PBIPipelines"
			}
		},
		"variables": {
			"TimeStamp": {
				"type": "String"
			},
			"UnixTimeStamp": {
				"type": "String"
			},
			"PipelineIds": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Power BI monitor"
		},
		"annotations": []
	}
}