pipeline/scan_start.json
{
	"name": "scan_start",
	"properties": {
		"description": "Required run before scan_result. Calls the Get Workspaces REST admin API, generates an array of workspace Ids, and calls scan_result pipeline.\n\nParameters:\nStorageAccountContainer - Name of the storage container for files to be saved to (should be identical throughout pipelines\n\nStorageAccountFolder - Folder/folder structure within container where files will be saved (should be identical throughout pipelines)\n\nTopic - Prefix for filenames, should match pipeline name\n",
		"activities": [
			{
				"name": "Save list of workspaces",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "setUnixTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "processedDate",
								"value": {
									"value": "@formatDateTime(variables('TimeStamp'), 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false
				}
			},
			{
				"name": "Get workspaces",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Save list of workspaces",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "setTimestamp",
				"description": "Set the requestId to be the date.now()",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TimeStamp",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "build array of workspaces",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get workspaces",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get workspaces').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "create flat array of workspaces",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Workspaces",
								"value": {
									"value": "@item().id",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Execute Scan Result",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "build array of workspaces",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "scan_result",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Batch": "1",
						"ADF_PipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"ADF_TriggerTime": {
							"value": "@pipeline().TriggerTime",
							"type": "Expression"
						},
						"BodyExpression": {
							"value": "{\n    \"workspaces\": @{variables('Workspaces')}\n  \n}",
							"type": "Expression"
						},
						"UnixTimeStamp": {
							"value": "@variables('UnixTimeStamp')",
							"type": "Expression"
						},
						"TimeStamp": {
							"value": "@variables('TimeStamp')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "setUnixTime",
				"description": "Set the requestId to be the date.now()",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "setTimestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "UnixTimeStamp",
					"value": {
						"value": "@{div(sub(ticks(variables('timestamp')), ticks('1970-01-01')),10000000)}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"StorageAccountContainer": {
				"type": "string",
				"defaultValue": "data-warehouse"
			},
			"StorageAccountFolder": {
				"type": "string",
				"defaultValue": "apiData/raw"
			},
			"Topic": {
				"type": "string",
				"defaultValue": "scan_start"
			}
		},
		"variables": {
			"Workspaces": {
				"type": "Array"
			},
			"TimeStamp": {
				"type": "String"
			},
			"UnixTimeStamp": {
				"type": "String"
			},
			"DateToExtract": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Power BI monitor"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-26T12:04:07Z"
	}
}