pipeline/tenantSettings.json
{
	"name": "tenantSettings",
	"properties": {
		"description": "Calls the Get Tenant Settings REST admin API.\n\nParameters:\nStorageAccountContainer - Name of the storage container for files to be saved to (should be identical throughout pipelines\n\nStorageAccountFolder - Folder/folder structure within container where files will be saved (should be identical throughout pipelines)\n\nTopic - Prefix for filenames, should match pipeline name",
		"activities": [
			{
				"name": "Copy Tenant Settings",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Unix TimeStamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "processedTimeStamp",
								"value": {
									"value": "@variables('UnixTimeStamp')",
									"type": "Expression"
								}
							},
							{
								"name": "processedDate",
								"value": {
									"value": "@formatDateTime(variables('TimeStamp'), 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "API_Fabric",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "JSON_ADLS",
						"type": "DatasetReference",
						"parameters": {
							"FileSystem": {
								"value": "@pipeline().parameters.StorageAccountContainer",
								"type": "Expression"
							},
							"Folder": {
								"value": "@concat(pipeline().parameters.StorageAccountFolder, '/', pipeline().parameters.Topic, '_getTenantSettings')",
								"type": "Expression"
							},
							"FileName": {
								"value": "@concat(variables('UnixTimeStamp'),'/', 'tenantSettings.json')",
								"type": "Expression"
							},
							"TimeStamp": {
								"value": "@variables('TimeStamp')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Timestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TimeStamp",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Unix TimeStamp",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "UnixTimeStamp",
					"value": {
						"value": "@{div(sub(ticks(variables('TimeStamp')), ticks('1970-01-01')),10000000)}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Call load notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy Tenant Settings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/kendale@carloconsultants.com/powerbi-monitor-databricks/topics/tenantSettings/020_load",
					"baseParameters": {
						"topic": {
							"value": "@pipeline().parameters.Topic",
							"type": "Expression"
						},
						"date": {
							"value": "@formatDateTime(variables('TimeStamp'),'yyyy/MM/dd')",
							"type": "Expression"
						},
						"timestamp": {
							"value": "@variables('UnixTimeStamp')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Call model notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/kendale@carloconsultants.com/powerbi-monitor-databricks/topics/tenantSettings/021_model"
				},
				"linkedServiceName": {
					"referenceName": "Databricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"StorageAccountContainer": {
				"type": "string",
				"defaultValue": "data-warehouse"
			},
			"StorageAccountFolder": {
				"type": "string",
				"defaultValue": "apiData/raw"
			},
			"Topic": {
				"type": "string",
				"defaultValue": "tenantSettings"
			}
		},
		"variables": {
			"TimeStamp": {
				"type": "String"
			},
			"UnixTimeStamp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Power BI monitor"
		},
		"annotations": []
	}
}